<div class="piechart-container">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title" style="font-weight: bold">{{nameChart}}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h4 class="text-center"><strong>{{dataSum.sum_tong}}</strong> {{title}}</h4>
          <div class="chart-responsive">
            <canvas id="{{title}}"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
