<div class="main-layout-signin">
  <div class="main-layout-signin__min-vh-100">
    <div class="main-layout-signin__min-vh-100__bg" id="particles-js"></div>
    <div class="main-layout-signin__min-vh-100__content">
      <div class="container my-auto">
        <div class="row">
          <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
            <div class="main-layout-signin__min-vh-100__content__info rounded shadow-lg">
              <div class="bg-dark"></div>
              <div class="main-layout-signin__min-vh-100__content__info__singin">
                <div class="main-layout-signin__min-vh-100__content__info__singin__logo mb-4">
                  <img style="width: 125px;" src="assets/images/logo-login.svg" alt="HO My PT">
                </div>
                <div class="main-layout-signin__min-vh-100__content__info__singin__form">
                  <h3 style="font-weight: bold">Xin chào,</h3>
                  <div>Vui lòng đăng nhập để sử dụng Web</div>
                  <div class="col-md-12 mt-5 mb-5 button">
                    <button type="button" class="btn btn-login" (click)="login()">Đăng Nhập Bằng Email Công Ty</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>
