.pagination-container {
  display: flex;
  margin: 1rem 1rem 0 0;
  align-items: center;
  justify-content: space-between;

  .sum-pagination {
    display: flex;
    align-items: center;

    .select-page {
      display: flex;
      align-items: center;
      margin: 0 1.3rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .pagination-container {
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: space-between;
    margin: 0.5rem 0.5rem 0 0.8rem;

    .sum-pagination {
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 0.5rem;
      justify-content: space-between;

      .select-page {
        margin: 0;
      }
    }
  }
}
